<div class="tech-btm">
    <h4>Mail bültenimize abone olun...</h4>
    <p>Abone olarak yeni yemek tarfilerinden haberdar olabilirsiniz.</p>
    <form id="subscribeForm">
        <input type="email" placeholder="Email" required name="Mail">
        <input type="submit" value="Abone Ol">   
        
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {      

        $(function () {

            $('#subscribeForm').submit(function (e) {
                e.preventDefault(); // Formun varsayılan submit olayını engelle

                // AJAX ile form verilerini gönder
                $.ajax({
                    url: '/NewsLetter/SubscribeMail', // Controller ve action'ın yolu
                    type: 'POST',
                    data: $(this).serialize(), // Form verilerini al ve gönder
                    success: function (response) {
                        alert("Tebrikler başarıyla kayıt oldunuz!");
                       
                    },
                    error: function (xhr, status, error) {
                        alert("Hata oluştu: " +"Mail Sistemde Zaten Kayıtlı!");

                        // Hata durumunda yapılacak işlemler
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    });

</script>
