@model List<Recipe>
<h3>İlgini Çekebilir</h3>
<div class="blog-grids row mb-6">
	@foreach (var item in Model)
	{
		
	<div class="col-md-5 blog-grid-right">
		<a href="single.html">
				<img src="~/Tema/images/@item.ReceipeImage" class="img-fluid" alt="">
		</a>
	</div>
	<div class="col-md-7 blog-grid-right">

		<h5>
			<a href="single.html">@item.ReceipeName </a>
		</h5>
		<div class="sub-meta">
			<span>
				<i class="far fa-clock"></i> @item.CreateDate.ToShortDateString()
			</span>
		</div>
	</div>
	}

</div>