@using EntityLayer.Concrete;
@model Recipe
@{
    ViewData["Title"] = "YemekDetay";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@*<form method="get" action="@Url.Action("YemekDetay", "Recipe")"/>*@

<table class="table table-bordered">
    <tr><th>Yemek Açıklama</th></tr>
    <tbody>
    @Model.ReceipeDescription
    </tbody>
</table>

