
@model List<EntityLayer.Concrete.Comment>

<div class="comment-top">
	<h4>Yorumlar</h4>
	@foreach (var item in Model)
	{
	<div class="media">
		<img src="images/t1.jpg" alt="" class="img-fluid" />
		<div class="media-body">
			<h5 class="mt-0">@item.CommentUserName</h5>
			<p>
				@*Bu tarifi gerçekten çok beğendim. Haftada bir kaç defa kendi yaptığım yemeklere de uygulamak istiyorum. Teşekkür ederim*@+
			asdasdasd
						
			</p>
		</div>
	</div>
	}
</div>