@model int // RecipeReadAll view'inden gönderdiğimiz modeli burada alıyoruz
<br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="comment-top">
        <h3>Sen de bir yorum yazmak ister misin?</h3>

    <div class="comment-bottom">
        <form id="commentForm">
            @*action="/Comment/PartialAddComment" method="post"*@
            <input class="form-control" type="text" name="Name" id="Name" placeholder="İsim" required=""><br />
            <input class="form-control" type="email" name="Email" id="Email" placeholder="E-mail" required=""><br />

            <input class="form-control" type="text" name="Subject" id="Subject" placeholder="Konu" required=""><br />
            <input type="hidden" name="RecipeID" id="RecipeID" value="@Model" />@*Modelden gelen parametreyi burada  Controller'a gönderiyoruz*@
            <textarea class="form-control" name="Message" id="Message" placeholder="Mesaj..." required=""></textarea><br />
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {


        $("form#commentForm").submit(function (event) {
            event.preventDefault();
            var dataA = {
                CommentUserName: $("#Name").val(),
                //txtEmail: $("#Email").val(),
                CommentTitle: $("#Subject").val(),
                CommentContent: $("#Message").val(),
                RecipeID:$("#RecipeID").val()
            };

            $.ajax({
                url: '@Url.Action("PartialAddComment", "Comment")',/* + '?txtName=' + dataA.txtName + '&txtEmail=' + dataA.txtEmail + '&txtKonu=' + dataA.txtKonu + '&txtMesaj=' + dataA.txtMesaj,*/
                type: 'POST',
                dataType: 'JSON',
                data: JSON.stringify(dataA),
                contentType: 'application/json',
                success: function (result) {
                    // Başarılı olduğunda yapılacak işlemler
                    console.log(dataA);
                },
                error: function (xhr, status, error) {
                    // Hata olduğunda yapılacak işlemler
                    console.log(dataA);

                }
            });


        });
    });
</script>
