@model WriterMessage
@{
    ViewData["Title"] = "ComposeMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">

        @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessage/PartialMessageMenu.cshtml")

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="float-right tooltip-demo">
                    <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil"></i> Taslak</a>
                    <a asp-action="Sendbox" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> Vazgeç</a>
                </div>
                <h2>
                    Mail Gönder
                </h2>
            </div>
            <div class="mail-box">
                <form method="post">

                <div class="mail-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Alıcı:</label>

                            <div class="col-sm-10"><input type="text" name="userName" class="form-control"></div>
                            <span class="text-danger">@ViewBag.hata</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Konu:</label>

                            <div class="col-sm-10"><input type="text" class="form-control" asp-for="Subject"></div>
                        </div>
                        <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mesajınız:</label>

                       <textarea class="form-control"  rows="4"cols="10" asp-for="MessageDetails"></textarea>
                    </div>
                </div>
                    <div class="clearfix"></div>
               
                <div class="mail-body text-right tooltip-demo">
                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"><i class="fa fa-reply"></i> Gönder</button>
                    <a asp-action="Sendbox" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-times"></i> Vazgeç</a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-pencil"></i> Taslak</a>
                </div>
                <div class="clearfix"></div>
</form>
            </div>
        </div>
    </div>
</div>
